@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Media query manager
/*
0 - 600 px :    Phone
600 - 900 px:   Tablet portrait
900 - 1200 px:  Tablet landscape
1200 - 1800px:  Normal styles
1800px + :      Big Desktop

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      // 600 px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      // 900 px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      // 1200 px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // 1800 px
      @content;
    }
  }
}
