*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines 1rem
  font-size: 62.5%;

  /*
  For the media query order, remember that if the screen size is 700px, both the tab-land and tab-port
  will apply since 700 < 900 and 700 < 1200. Since we want 900 to apply and not 1200, put 900 last
  since the last one will take priority
  */
  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 900 ?
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
